version: '2'

services:
    php-fpm:
        container_name: php-fpm
        build:
            context: ./images/php-fpm/56
            args:
                - INSTALL_XDEBUG=false
                - INSTALL_MONGO=false
                - INSTALL_ZIP_ARCHIVE=false
                - INSTALL_MEMCACHED=false
                - INSTALL_OPCACHE=true
                - PUID=1000
                - PGID=1000                
        ports:
            - "9002:9000"
    mysql:
        container_name: mysql
        build:
            context: ./images/mysql
        ports:
            - "3307:3306"
        volumes_from:
            - volumes-data
        environment:
            MYSQL_ROOT_PASSWORD: 123456
    nginx:
        restart: always
        container_name: nginx
        build:
            context: ./images/nginx
        volumes_from:
            - volumes-source
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./logs/nginx/:/var/log/nginx
        links:
            - php-fpm:php
    volumes-data:
        container_name: volume-data
        image: tianon/true
        volumes:
            - ./data/mysql:/var/lib/mysql
    volumes-source:
        image: tianon/true
        container_name: volumes-source
        volumes:
            - ../:/var/www/