version: '2'

services:
    # Container do PFP-FPM com suas com suas configurações
    php-fpm:
        build:
            context: ./images/php-fpm/56
            args:
                - INSTALL_XDEBUG=false
                - INSTALL_MONGO=false
                - INSTALL_ZIP_ARCHIVE=false
                - INSTALL_MEMCACHED=false
                - INSTALL_OPCACHE=true
        ports:
            - "9002:9000"