version: '2'

services:
    php-fpm:
        container_name: php-fpm
        build:
            context: ./images/php-fpm/56
            args:
                - INSTALL_XDEBUG=${PHP_FPM_INSTALL_XDEBUG}
                - INSTALL_MONGO=${PHP_FPM_INSTALL_MONGO}
                - INSTALL_ZIP_ARCHIVE=${PHP_FPM_INSTALL_ZIP_ARCHIVE}
                - INSTALL_OPCACHE=${PHP_FPM_INSTALL_OPCACHE}
                - USER_PUID=${USER_PUID}
                - USER_PGID=${USER_PGID}
                - USER_NAME=${USER_NAME}
        ports:
            - "${PHP_FPM_PORT}:9000"
        volumes_from:
            - volumes-source
    node:
        container_name: node
        build:
            context: ./images/node
            args:
                - USER_PUID=${USER_PUID}
                - USER_PGID=${USER_PGID}
                - USER_NAME=${USER_NAME}
        volumes_from:
            - volumes-source
    mysql:
        container_name: mysql
        build:
            context: ./images/mysql
        ports:
            - "${MYSQL_PORT}:3306"
        volumes_from:
            - volumes-data
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    mongodb:
        container_name: mongodb
        build: 
            context: ./images/mongo
        ports:
            - "${MONGO_PORT}:27017"
        volumes_from:
            - volumes-data
    redis:
        container_name: redis
        build: ./images/redis
        volumes_from:
            - volumes-data
        ports:
            - "${REDIS_PORT}:6379"
    nginx:
        restart: always
        container_name: nginx
        build:
            context: ./images/nginx
            args:
                - USER_PUID=${USER_PUID}
                - USER_PGID=${USER_PGID}
                - USER_NAME=${USER_NAME}            
        volumes_from:
            - volumes-source
        ports:
            - "${NGINX_PORT_HTTP}:80"
            - "${NGINX_PORT_HTTPS}:443"
        volumes:
            - ./logs/nginx/:/var/log/nginx
        links:
            - php-fpm:php
    volumes-data:
        container_name: volume-data
        image: tianon/true
        volumes:
            - ./data/mysql:/var/lib/mysql
            - ./data/mongo:/data/db
            - ./data/redis:/data
    volumes-source:
        image: tianon/true
        container_name: volumes-source
        volumes:
            - ${PATH_APP}:/var/www/html/